html{
  position: absolute;
  width:100%;
  height:100%;
  left:0px;
  top:0px;
  z-index:-6;
}
body{
  position: absolute;
  width:100%;
  height:100%;
  left:0px;
  top:0px;
  z-index: -5;
}
#bigContain{
  position: absolute;
  width:100%;
  height:100%;
  left:0px;
  top:0px;
  z-index: -3;
  overflow-y:scroll;
  overflow-x:hidden;
}
#waveTest{
position: absolute;
width:100%;
left:0px;
height:100%;
top:0px;
z-index: -4;
}
#deskBody{
  position: absolute;
  width:100%;
  height:auto;
  left:0;
  top:0;
  display: none;
  /* background-image: url("img/bg2.jpg"); */
  z-index: 1;

}
#mobileBody{
  position: absolute;
  width:100vw;
  height:auto;
  left:0;
  top:0;
  display: none;
  /* background-image: url("img/bg2.jpg"); */
  z-index: 1;

}
.topper{
  width:100%;
  left:0;
  position: relative;
  color:white;
  height:50px;
  text-align: center;
  background-color:rgb(23,108,237);
  }

.sectionate{
  width:100%;
  left:0px;
  height:auto;
  position: relative;
  margin-top:20px;
  margin-bottom: 20px;
  display:block;
}
.big{
  font-size: 30px!important;
  color:white;
  letter-spacing: 1.5px;
text-shadow: 1px 1px pink;
}
.innerSmall{
  width:90%;
  left:5%;
  height:auto;
  position: relative;
}
.innerSmaller{
  width:50%;
  left:25%;
  height:auto;
  position: relative;
}
.indent{
  padding-left:20px;
}
ol{
  list-style-type:square;
}
p{
  font-size:16.5px;
  line-height: 22px;
  letter-spacing: 1.2px;
}
li{
  margin-top:8px;
  font-size:20px;
  font-weight:650;
}
img{
  max-width: 100%;
  max-height: 100%;
  height:auto;
  width:auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.footer{
  width:100%;
  left:0;
  position: relative;
  color:black;
  height:auto;
  text-align: center;
  background-color:#D3C9C7;
  padding-top:12.5px;
  padding-bottom:12.5px;
}
.sitelinkContainer{
  position: 100%;
  left:0;
  height:auto;
}
.sitelink{
  position: absolute;
  width:50%;
  left:0;
  height:auto;
}
.sitelink2{
  position: absolute;
  width:50%;
  left:50%;
  height:auto;
}
.sitelink p{
  width:100%;
  left:0;
  position: relative;
  color:#FF0000;
  height:auto;
  text-align: center;
  background-color: black;
  padding-top:12.5px;
  padding-bottom:12.5px;
  font-size:18px;
  line-height:27px;
  letter-spacing: 1.2px;
}
.sitelink2 p{
  width:100%;
  left:0;
  position: relative;
  color:purple;
  height:auto;
  text-align: center;
  background-color: white;
  padding-top:12.5px;
  padding-bottom:12.5px;
  font-size:18px;
  line-height:27px;
  letter-spacing: 1.2px;
}
.fitMiddle{
  padding-top:12px;
  font-size: 25px;
  font-weight:700;
  width:100%;
  left:0;
  text-align: center;
  height:auto;
}
.red{
  background-color: rgb(2,159,90);
  padding: 7px;
  font-size:20px;
  font-weight:650;
  letter-spacing: 1.1px;
  line-height:23px;
  color:white;
  margin-top:10px;
  margin-bottom: 10px;
}
.roundIt{
  padding:15px;
  padding-left:20px;
  padding-right:20px;
  border-radius:30px;
  display:block;
  width:70%;
  left:15%;
  position: relative;
  margin-left:-15px;
}
.gray{
  background-color: rgb(255,191,11);
  margin-left:auto;
  margin-right:auto;
  display: block;
  border-radius:30px;
  width:auto;
  position: relative;
  text-align: center;
  list-style: none;
  padding:20px;
}
.gray li{
  list-style: none;
  width:auto;
  margin-top:8px;
  margin-bottom:8px;
}
.gray li:hover{
  color:#00174F;
  font-size:22px;
}
.gray ol{
  width:auto;
}
.gridItem{
  width:40%;
  left:30%;
  height:auto;
  padding:5px;
  background-color: white;
  border-radius:15px;
  position: relative;
  margin-top: 20px;
}
.gridItem h3{
  font-size:20px;
  width:100%;
  left:0;
  position: relative;
  padding-top:6px;
  text-align: center;
  color:black;
  font-weight:650;
}
.gridItem h4{
  font-size:18px;
  width:100%;
  text-align: center;
  left:0;
  position: relative;
  padding-top:8px;
}
.contactID{
  position: relative;
  margin-top:15px;
  width:auto;
  height: 50px;
  font-size:35px;
  background-color:black;
  color:#FF0000;
  border:3px solid white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width:70%;
  padding:10px;
  line-height: 50px;
}
.contactID a{
  color:#FF0000;
  text-decoration-color: blue;
}
.contactID a:visited{
  color:#FF0000;
  text-decoration-color: white;
}
.contactIDMobile{
  position: relative;
  margin-top:15px;
  width:auto;
  height: auto;
  font-size:25px;
  background-color:black;
  color:#FF0000;
  border:3px solid white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width:70%;
  padding:15px;
  line-height: 50px;
}
.contactIDMobile a{
  color:#FF0000;
  text-decoration-color: blue;
}
.contactIDMobile a:visited{
  color:#FF0000;
  text-decoration-color: white;
}
.form{
  position: relative;
  width:100%;
  left:0;
  height:auto;
}
.form form{
  position: relative;
  width:90%;
  left:5%;
  height:auto;
}
.form form input{
  position: relative;
  height:50px;
  font-size:20px;
  padding-left:15px;
  line-height: 50px;
  display: block;
  margin-top:15px;
  margin-bottom: 15px;
  width:80%;
  left:10%;
}
.text-xs-center {
        text-align: center;
}

.g-recaptcha {
    display: inline-block;
}
#submit{
  color: #444444;
      padding: 5px 10px;
      border-radius: 2px;
      font-weight: bold;
      font-size: 17px;
      outline: none;
      color: white;
    background: #4C8FFB;
    border: 1px #3079ED solid;
    box-shadow: inset 0 1px 0 #80B0FB;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#submit:hover {
    border: 1px #2F5BB7 solid;
    box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
    background: #3F83F1;
}
#submit:active {
    box-shadow: inset 0 2px 5px #2370FE;
}
#deskMakeSmaller{
  width:50%;
}
#mobileMakeSmaller{
  width:80%;
}

.desktop_contact_a{
  color:white;
  text-decoration: none;
}
.desktop_contact_a:hover{
  color: rgb(2,159,90);
  text-decoration: none;
}

.inner_contact_left{
  position: absolute;
  width:50%;
  left:0px;
  top:0px;
  height:auto;
  height:100%;
}
.inner_contact_right{
  position: absolute;
  width:50%;
  left:50%;
  top:0px;
  height:100%;
}
.contact_icons{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); /* Safari and Chrome */
  -moz-transform: translate(-50%, -50%); /* Firefox */
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -o-transform: translate(-50%, -50%); /* Opera */
}

/* WAVE ANIMATION */

@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

/* END WAVE ANIMATION */